/* Set default styles for the entire document */
* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Set the background color of the body to black */
  body {
    background-color: #000;
  }
  
  /* Style the header */
  header {
    background-color: #333;
    color: #7d1b1b;
    padding: 20px;
  }
  
  /* Style the navigation menu */
  nav {
    background-color: #642121;
    display: flex;
    justify-content: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #333;
    color: #4f1b1b;
  }
  
  /* Style the main content */
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #0b1470;
    box-shadow: 0 0 5px #119850;
  }
  
  main h2 {
    margin-bottom: 10px;
  }
  
  main p {
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  /* Style the footer */
  footer {
    background-color: #333;
    color: #a3b914;
    padding: 10px;
    text-align: center;
  }
  